/node_modules
/Sistemas_de_Big_Data/NodeRed/node-red
package-lock.json
package.json
/Projects/ChatBot/model
/Projects/ChatBot2/venv
/Projects/ChatBot2/chatbot/__pycache__
/Programacion_de_Inteligencia_Artificial/UD4/EmotionAI/icml_face_data.csv
/Programacion_de_Inteligencia_Artificial/UD4/EmotionAI/FacialKeyPoints_weights.hdf5
/Programacion_de_Inteligencia_Artificial/UD4/EmotionAI/FacialExpression_weights.hdf5
/Programacion_de_Inteligencia_Artificial/UD4/Healthcare/__MACOSX
/Programacion_de_Inteligencia_Artificial/UD4/Healthcare/Healthcare_AI_Datasets/Brain_MRI

