/Big_Data_Aplicado/Spark/Spark_sesion2_alumnos/datos
/node_modules
/Programacion_de_Inteligencia_Artificial/UD4/EmotionAI/icml_face_data.csv
/Programacion_de_Inteligencia_Artificial/UD4/EmotionAI/FacialKeyPoints_weights.hdf5
/Programacion_de_Inteligencia_Artificial/UD4/EmotionAI/FacialExpression_weights.hdf5
/Programacion_de_Inteligencia_Artificial/UD4/Healthcare/__MACOSX
/Programacion_de_Inteligencia_Artificial/UD4/Healthcare/Healthcare_AI_Datasets/Brain_MRI
/Projects/ChatBot/model
/Projects/ChatBot2/venv
/Projects/ChatBot2/chatbot/wakamiti
/Projects/ChatBot2/chatbot/__pycache__
/Projects/Dron
/Sistemas_de_Big_Data/NodeRed/node-red
/Sistemas_de_Big_Data/Tableau/LABs_8_9_10/NintendoTweets.json
package-lock.json
package.json