
:root {
    --bg-color: #fff;
    --text-color: #000;
    --chat-container-bg-color: #e0e0e0;
    --chatbox-bg-color: #f5f5f5;
    --timestamp-color: #666;
    --user-msg-bg-color: #007bff;
    --user-msg-text-color: #fff;
    --bot-msg-bg-color: #f0f0f0;
    --menu-bg-color: #f0f0f0;
    --menu-btn-hover-color: #ddd;
    --input-border-color: #ccc;
    --border-radius: 0px;
    --font-family: 'Arial', sans-serif;
    --font-size: 16px;
}

[data-theme='dark'] {
    --bg-color: #121212;
    --text-color: #fff;
    --chat-container-bg-color: #2a2a2a;
    --chatbox-bg-color: #1e1e1e;
    --timestamp-color: #ccc;
    --user-msg-bg-color: #0b93f6;
    --user-msg-text-color: #fff;
    --timestamp: #0b93f6;
    --bot-msg-bg-color: #333333;
    --menu-bg-color: #333;
    --menu-btn-hover-color: #444;
    --input-border-color: #3a3a3a;
}

body, html {
    height: 100%;
    margin: 0;
}

html {
    overflow: hidden;
}
body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 250px);
    height: 100%;
    /* width: 80%; */
    background-color: var(--chat-container-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-left: 250px;
    width: calc(100% - 250px);
    /* transition: margin-left 0s; */
}

#chatbox {
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--chatbox-bg-color);
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid var(--input-border-color);
}

.timestamp {
    color: var(--timestamp-color);
    font-size: 0.85em;
    margin-top: 4px;
    display: block;
}

.botText, .userText {
    position: relative;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    clear: both;
    padding: 10px;
    margin-bottom: 4px;
    border-radius: var(--border-radius);
    max-width: 100%;
    word-wrap: break-word;
    padding-bottom: 20px;
}

.botText {
    align-items: flex-start;
}

.botText > span, .userText > span {
    padding: 10px 15px;
    border-radius: 15px;
    display: inline-block;
    max-width: 80%;
    word-wrap: break-word;
    animation: slideIn 0.3s ease;
    cursor: pointer;
}

.botText .timestamp {
    text-align: left;
}

.userText .timestamp {
    text-align: right;
}

.botText > span {
    background-color: var(--bot-msg-bg-color);
    text-align: left;
}

.userText > span {
    background-color: var(--user-msg-bg-color);
    color: var(--user-msg-text-color);
    text-align: left;
}

.input-container {
    display: flex;
    border-top: 1px solid var(--input-border-color);
}

#buttonInput, #textInput {
    font-size: var(--font-size);
    padding: 10px;
    border: none;
    background-color: var(--user-msg-bg-color);
    color: var(--user-msg-text-color);
    box-sizing: border-box;
}

#buttonInput {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#textInput {
    flex-grow: 1;
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: text;
}

.delete-btn {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    opacity: 0.6;
}

.delete-btn:hover {
    opacity: 1;
}

.userText .delete-btn {
    display: none;
    margin-left: 8px;
}

.userText:hover .delete-btn {
    display: inline;
}

.message-menu {
    background-color: var(--menu-bg-color);
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    right: 0;
    bottom: 100%;
    z-index: 10;
    display: none;
}

.message-menu button {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1em;
    margin: 0;
    padding: 5px;
    text-align: left;
    width: 100%;
}

.message-menu button:hover {
    background-color: var(--menu-btn-hover-color);
}

/* Scrollbar styling */
#chatbox::-webkit-scrollbar {
    width: 12px;
}

#chatbox::-webkit-scrollbar-track {
    background: #2a2a2a;
    background: var(--menu-bg-color);
    border-radius: 10px;
}

#chatbox::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 3px solid #2a2a2a;
}

#chatbox::-webkit-scrollbar-thumb:hover {
    background: #666;
}

/* For Firefox */
#chatbox {
    scrollbar-width: thin;
    scrollbar-color: #555 #2a2a2a;
}

/* For other browsers */
#chatbox {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* Side Menu Styling */
.side-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background: #333;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #444;
    z-index: 2;
    resize: horizontal; /* Make the sidebar resizable */
    overflow: hidden;
}

.drag-handle {
    width: 5px;
    height: 100%;
    cursor: ew-resize;
    position: absolute;
    right: 0;
    top: 0;
}

.side-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: #222;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.side-button:hover {
    background: #1e1e1e;
}