/* Estilos Generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212; /* Fondo oscuro */
    color: #e0e0e0; /* Texto claro */
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

/* Contenedor de Búsqueda */
#search-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1e1e; /* Fondo ligeramente más claro que el body para contraste */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Sombra más pronunciada */
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

/* Estilo del select */
#search-type {
    flex-basis: 30%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #333; /* Borde más oscuro */
    background-color: #2a2a2a; /* Fondo de los campos más oscuro */
    color: #e0e0e0; /* Texto claro */
}

/* Estilo del input */
#search-query {
    flex-grow: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #333;
    background-color: #2a2a2a;
    color: #e0e0e0;
}

/* Estilo del botón */
#search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #e48933; /* Azul más suave que el original */
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #dd6b00; /* Azul más oscuro al pasar el mouse */
}

/* Estilos para los resultados */
#results {
    margin-top: 20px;
    padding: 20px;
    background-color: #1e1e1e; /* Fondo oscuro para los resultados */
}

.result-item, .book-details {
    background-color: #242424; /* Fondo para cada resultado */
    border: 1px solid #333; /* Borde más oscuro */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Sombra más pronunciada */
}

.result-item h4, .book-details h2 {
    color: #dd6b00; /* Color azul para títulos */
    margin-top: 0;
}

.result-item p, .book-details p {
    margin: 10px 0;
    line-height: 1.5;
    color: #e0e0e0; /* Texto claro */
}

.book-details p strong {
    color: #e0e0e0; /* Texto claro para el texto en negrita */
}

/* Mejorando la visualización de URLs */
.book-details p a {
    color: #dd6b00; /* Enlaces en azul */
    text-decoration: none;
    transition: color 0.3s;
}

.book-details p a:hover {
    color: #dd6b00c9; /* Azul más oscuro al pasar el mouse */
}

@media (max-width: 768px) {
    #search-container {
        flex-direction: column;
    }
    #search-type, #search-query {
        flex-basis: 100%;
    }
}

/* Estilos adicionales para el contenedor de edición */
#edit-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1e1e1e;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

#edit-container input {
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #333;
    background-color: #2a2a2a;
    color: #e0e0e0;
}
